.main-choosemeal{
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1rem;
}

.search-icon-choose-meal {
  font-size: 35px;
  position: absolute;
  right: 8rem; /* Prilagodite poziciju po potrebi */
  top: 7rem; /* Da biste vertikalno centrirali ikonicu */
  transform: translateY(-50%); /* Da biste vertikalno centrirali ikonicu */
  pointer-events: none;
  color: #666666;
  transition: all 0.4s;
}

.search-input {
  width: 100%; /* Postavite širinu input polja na 100% */
  padding-right: 40px; /* Prilagodite padding kako biste stvorili prostor za ikonicu */
}


.dropdown {
  position: absolute;
  top: 5.5rem; 
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.options {
  display: flex;
  flex-direction: column;

}

.option {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.topbar-choosemeal-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choosemeal-title-menu{
  color: #131313;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
letter-spacing: 0.5px;
}

.option:hover {
  background: #E5C4C4; /* Promenite u boju koju želite za hover efekat */
}

.choosemeal-categories-menu {
  display: flex;
  gap: 5rem;
  align-items: center; 
  justify-content: center;
}

.choosemeal-categories-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choosemeal-categories-text{
  color: #131313;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

.choosemeal-menu-apply-button{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  .main-choosemeal {
    padding: 1rem 1rem;
  }
}

@media screen and (max-height: 620px) and (max-width: 1050px) {

  .dropdown{
    scale: 0.85;
    position: absolute;
    top: 2.5rem; 
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 189px;
    border-radius: 4px;
    background: white;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width: 1050px) {
  .choosemeal-categories-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Prikazujte po tri ikonice u svakoj koloni */
    gap: 1rem; /* Dodajte razmak između kolona */
    align-items: center; /* Centriraj ikonice */
  }

  .choosemeal-categories-single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Dodajte druge stilove prema potrebi za manje ekrane */
}
