.main-confirmorder {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
}

.confirmorder-title {
  color: #131313;
  font-family: Koulen;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}

.confirmorder-head p {
  margin: 0;
}

.myprofile-back-icon {
  position: absolute;
  padding: 10px;
  text-decoration: none;
  border-radius: 0 0 0 5px;
  left: 0;
}
.confirmorder-meals-modal-remove-rectangle:hover{
  background-color: #BD2B2B;
}
.confirmorder-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.confirmorder-meals {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.confirmorder-meal {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid #b9b9b9;
}

.confirmorder-title-and-description {
  padding: 0px 47px 17px 0px;
  align-items: flex-start;
  display: flex;
  height: 47px;
  gap: 8px;
  flex-direction: column;
}

.confirmorder-title-and-description p {
  margin: 0;
}

.confirmorder-meal-title {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.confirmorder-meal-description {
  color: #131313;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 108.333% */
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.confirmorder-meal-counter {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.counter-button-confirmorder {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.confirmorder-meal-price {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  text-align: right;
}

.confirmorder-meal-quantity {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.confirmorder-meals-price-title {
  color: #131313;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
}

.confirmorder-meals-price {
  color: #131313;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-left: 0.3rem;
}

.confirmorder-meals-description{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
margin-top: 1rem;
}

.confirmorder-finalprice-and-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.confirmorder-finalprice-and-description p{
  margin: 0;
}

.confirmorder-meals-price-description{
  color: #131313;
font-family: 'Roboto', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 13px; /* 108.333% */
letter-spacing: 0.5px;
opacity: 0.5;
}

.confirmorder-meal-price-info{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.confirmorder-meals-text-over-description{
  color: #000;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 200% */
letter-spacing: 0.5px;
}

.confirmorder-meals-description p{
  margin: 0;
}

.confirmorder-meals-button{
  display: flex;

justify-content: center;
align-items: center;
margin-top: 1rem;
}

.confirmorder-meals-modal-wrapper {
  width: 342px;
  height: 285px;
  display: flex;
  justify-content: center;
}

.confirmorder-meals-modal {
  width: 342px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: relative;
}

.confirmorder-meals-modal-title {
  flex-shrink: 0;
  color: #131313;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.confirmorder-meals-modal-back-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.confirmorder-meal-modal-group-trash {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.confirmorder-meals-modal-rectangle-trash {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -8px -8px 20px -4px rgba(0, 0, 0, 0.15) inset;
  display: flex;
  justify-content: center; /* Centriraj ikonicu horizontalno */
  align-items: center; /* Centriraj ikonicu vertikalno */
}

.confirmorder-meal-modal-trash-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.confirmorder-meals-modal-description {
  width: 278px;
  color: #131313;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
}
.confirmorder-meals-modal-cancel-rectangle:hover{
  background-color:#b4b4b4 ;
}
.confirmorder-meals-modal-cancel-rectangle {
  display: inline-flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #E7E7E7;
}

.confirmorder-meals-modal-cancel-text {
  color: #131313;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: 0.5px;
}

.confirmorder-meals-modal-remove-rectangle {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #DC9C9C;
}

.confirmorder-meals-modal-remove-text {
  color: #FFF;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: 0.5px;
}

.confirmorder-meals-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.confirmorder-meals-modal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.confirmorder-meals-modal-button-container div {
  display: inline-flex;
  padding: 0 36px;
  border-radius: 4px;
  margin: 0 8px;
}


@media screen and (max-width: 430px) {
  .main-confirmorder {
    padding: 1rem 1rem;
  }
  .primary-button{
    scale: 0.80;
  }
}

@media (max-width: 400px) {
  .confirmorder-meals-modal-wrapper {
    width: 100%;
  }

  .confirmorder-meals-modal {
    width: 90%; /* Smanjuje se širina modala */
    height: auto;
    margin: 30px 5%; /* Dodatni odmak od ivica ekrana */
    padding: 12px; /* Smanjuje se padding unutar modala */
  }

  .confirmorder-meals-modal-description {
    font-size: 10px; /* Smanjuje se veličina teksta za responzivan dizajn */
  }

  .confirmorder-meals-modal-button-container {
    margin-top: 0;
  }
}