*{
  overflow:hidden;

}


.main{
  display: flex;
  flex-direction: column;
  padding: 2.25rem 6.25rem;
}


.topbar-home{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.image-topbar-home{
  width: 100px;
height: 23px;
}

.image-topbar-home-profile{
  width: 48px;
height: 48px;
}

.content-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.first-part-of-content-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.second-part-of-content-home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.img1-home{
  width: 419px;
height: 279.333px;
}

.title-home{
  color: #131313;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 37px; /* 75% */
letter-spacing: 0.5px;
}

.primary-button{
  width: 326px;
height: 56px;
flex-shrink: 0;
border-radius: 4px;
background: #BD2B2B;
color: #FFF;
border: none;
font-family: Koulen;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.28px;
cursor: pointer;
}

.secondary-button{
  width: 326px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 4px;
border: 1px solid #BD2B2B;
background: #FFF;
color: #BD2B2B;
cursor: pointer;
font-family: Koulen;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.28px;
}

@media screen and (max-width: 420px) {
  .content-home,
  .topbar-home {
    scale: 0.65;
  }
  .main{
    padding:1.05rem 0rem ;
  }
  *{
    overflow:hidden;

  }
}
@media screen and (max-height: 620px) and (max-width: 1050px){
  .content-home,
  .topbar-home {
    scale: 0.65;
  }
  .main{
    padding:1.05rem 0rem ;
  }
  *{
    overflow:hidden;

  }
}