

.main1 {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 6.25rem;
}



.image-topbar-home-profile {
  width: 48px;
  height: 48px;
  cursor: pointer; /* Dodajemo pokazivač na ikonicu profila */
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.first-part-of-content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.second-part-of-content-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: auto;
}

.img1-home {
  width: 419px;
  height: 279.333px;
}

.title-home {
  color: #131313;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 75% */
  letter-spacing: 0.5px;
}

.choose-meal-dropdown {
  position: absolute;
  opacity: 0%;
  top: 5.5rem; 
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 0.5s ease;
}

.choose-meal-dropdown-open {
  position: absolute;
  opacity: 100%;
  top: 5.5rem; 
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 0.5s ease;
}

.options {
  display: flex;
  flex-direction: column;

}

.option {
  display: flex;
  width: 100%;
  padding: 8px;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.option:hover {
  background: #E5C4C4; /* Promenite u boju koju želite za hover efekat */
}

/* Responsivni stilovi */
@media screen and (max-width: 480px) {
  .content-home {
    scale: 0.65;
  }
  .main1 {
    padding: 1.05rem 0rem;
  }
}

@media screen and (max-height: 620px) and (max-width: 1050px) {
  .content-home,
  .choose-meal-dropdown {
    scale: 0.65;
  }
  .choose-meal-dropdown{
    position: absolute;
    top: 2.5rem; 
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 189px;
    border-radius: 4px;
    background: white;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  }
  .main1 {
    padding: 1.05rem 0rem;
  }
}

@media screen and (max-width: 325px) {
  .content-home {
    gap: 2px;
  }
  .main1 {
    padding: 1rem 0rem;
  }
  .second-part-of-content-home {
    scale: 0.85;
  }
}
