* {
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 6.25rem;
}

.topbar-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-topbar-home {
  width: 100px;
  height: 23px;
}

.image-topbar-home-profile {
  width: 48px;
  height: 48px;
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 90vh;
}

.first-part-of-content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.second-part-of-content-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: auto;
}

.img1-home {
  width: 419px;
  height: 279.333px;
}

.title-home {
  color: #131313;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px; /* 75% */
  letter-spacing: 0.5px;
}

.primary-button {
  width: 326px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #bd2b2b;
  color: #fff;
  border: none;
  font-family: Koulen;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  cursor: pointer;
}

.secondary-button {
  width: 326px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #bd2b2b;
  background: #fff;
  color: #bd2b2b;
  cursor: pointer;
  font-family: Koulen;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}

@media screen and (max-width: 480px) {
  .content-home,
  .topbar-home {
    scale: 0.65;
  }
  .main {
    padding: 1.05rem 0rem;
  }
  * {
    overflow: hidden;
  }
}
@media screen and (max-height: 620px) and (max-width: 1050px) {
  .content-home,
  .topbar-home {
    scale: 0.65;
  }
  .main {
    padding: 1.05rem 0rem;
  }
  * {
    overflow: hidden;
  }
}

@media screen and (max-width: 325px) {
  .content-home {
    gap: 2px;
    height: 100vh;
  }
  .main {
    padding: 1rem 0rem;
  }
  .second-part-of-content-home {
    scale: 0.85;
  }
}
