.main-rateOrder {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1rem;
  gap: 16px; /* Dodano gap svojstvo */
}


.back-icon {
  position: absolute;
  padding: 10px;
  text-decoration: none;
  border-radius: 0 0 0 5px;
  left: 0;
}

.food-picture {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  position: relative;
}


.info {
  margin-top: 20px;
  display: flex;
  gap: 16px; /* Dodano gap svojstvo */
}

.food-title {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #131313;
}

.food-desc {
  font-weight: 500;
  font-family: Roboto;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.5px;
  color: #131313;
  opacity: 50%;
}

.rateorder-title {
  color: #131313;
  font-family: Koulen;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}

.rateorder-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.rateorder-info p {
  margin: 0;
}


.user-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.rate-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  gap: 16px;

}

.rateorder-one-rate{
  display: flex;
flex-direction: column;
gap: 16px;
width: 100%;
}

.stars {
  height: 24px;
  width: 184px;
  display: flex; /* Dodano display flex */
  gap: 8px;
  opacity: 0.5;
}

.stars * {
  width: 24px;
  height: 24px;

  top: 3px;
}

.star{
  cursor: pointer;
}

.text-field {

  gap: 10px;
  border-width: 1px;
  border-color: #797979;
  border-radius: 4px;
  color: #79747e;
  display: flex; /* Dodano display flex */
  flex-direction: row; /* Dodano flex direction */
}

.star.selected {
  color: #BD2B2B;
  opacity: 1;
}


.send-icon {
  position: absolute;
  color: #1c1b1f;
  align-items: center;
  margin-left: 300px;
  margin-top: 16px;
}

@media screen and (max-width: 370px) {
  .send-icon {
    position: absolute;
  color: #1c1b1f;
  align-items: center;
  margin-left: 280px;
  margin-top: 16px;
}

}@media screen and (max-width: 330px) {
  .send-icon {
    position: absolute;
  color: #1c1b1f;
  align-items: center;
  margin-left: 240px;
  margin-top: 16px;
}}

@media screen and (max-width: 300px) {
  .send-icon {
    position: absolute;
  color: #1c1b1f;
  align-items: center;
  margin-left: 220px;
  margin-top: 16px;
}}
.price {
  width: 29px;
  height: 17px;
  left: 313px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

