.main2 {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-welcome {
  color: #131313;
  font-family: Koulen;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  margin-bottom: -28px;
}




.login-btn-part{
  text-align: center;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.forgot {
  margin-top: 8px;
  left: 103px;
  bottom: -26px;
  color: #bd2b2b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  text-align: center;
}

@media screen and (max-width: 370px) {
  .login-wrapper,
  .title {
    scale: 0.75;
  }
  .input-wrapper {
    margin-top: 0px;
  }
}

@media screen and (max-width: 360px) {
  .login-wrapper,
  .title {
    scale: 0.5;
  }
  .input-wrapper {
    margin-top: -5rem;
  }
}