

/* Apply styles to the main container */
.main-orderMeal {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Style the back button */
.back-button-orderMeal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
}

/* Style the pizza image */
.img-layout-orderMeal {
  height: auto;
  max-height: 400px;
  background-image: url(../../images/PizzaCapricciosa.png);
  background-color: lightgray;
  background-position: 0px -0.625px;
  background-size: 100% 100.154%;
  background-repeat: no-repeat;
}
.img-layout-orderMeal {
  width: 100%;
  height: 324px;
  object-fit: fill;
}
/* Style the text section */
.texts-orderMeal {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 390px;
}

/* Style the meal information container */
.about-orderMeal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

/* Style the meal title */
.title-orderMeal {
  width: 100%;
  color: #131313;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  padding-top: 16px;
}

/* Style the meal price */
.price-orderMeal {
  color: #131313;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

/* Style the meal description */
.description-orderMeal {
  width: 100%;
  color: #131313;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Style the counter section */
.counter-orderMeal {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Style the "ADD TO ORDER" button */
.addbutton-orderMeal {
  width: 330px;
  height: 56px;
  border-radius: 4px;
  background: #bd2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Style the text within the "ADD TO ORDER" button */
.addbutton-text-orderMeal {
  color: #fff;
  font-family: "Koulen";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.button-wrapper-orderMeal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tmp-orderMeal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.counter-button-orderMeal {
  margin: 0 32px;
  width: 48px;
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .tmp-orderMeal {
    margin-top: 16px;
  }

  .counter-orderMeal {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .addbutton-orderMeal {
    width: 270px;
  }
}


.main-choosemeal {
  display: flex;
  flex-direction: column;
}

.image-topbar-wrapper {
  width: 156px;
  height: 23px;
}
.search-choosemeal {
  display: flex;
  justify-content: center;
}

.search-icon-choose-meal {
  font-size: 35px;
  position: absolute;
  margin-top: 3px;
  margin-left: 300px;
  pointer-events: none;
  color: #666666;
  transition: all 0.4s;
}

.search-input {
  display: flex;
  width: 342px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  height: 33px;
}

.dropdown {
  position: absolute;
  top: 5.5rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.dropdown1 {
  position: absolute;
  top: 5.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.topbar-choosemeal-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 1rem;
}

.topbar-computer-choosemeal-home {
  padding: 2.25rem 1rem;
}

.topbar-computer-other-part {
  display: flex;
  align-items: center;
  gap: 48px;
}

.choosemeal-menu {
  border-radius: 15px 15px 0 0;
  background-color: #ffffff;
  z-index: 3;
  position: absolute;
  margin-top: 30vh;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.choosemeal-title-menu {
  color: #131313;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-left: 24px;
}

.option:hover {
  background: #e5c4c4;
}

.choosemeal-categories-menu {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.choosemeal-categories-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choosemeal-categories-text {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.choosemeal-menu-apply-button {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choosemeal-menu-apply {
  width: 326px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #bd2b2b;
  color: #fff;
  border: none;
  font-family: Koulen;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 20px;
  cursor: pointer;
}
.circle {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
}

.circle-icon {
  width: 64px;
  height: 64px;
}

.inner-icon {
  z-index: 1;
  display: flex;
  margin: -70%;
}

.overlay-visible {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s ease-in-out;
  z-index: 1;
}
.overlay-hidden {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.menu-hidden {
  transform: translateY(200%);
  transition: transform 1s ease-in-out, display 0s 1s, opacity 1s 0s;
}

.menu-visible {
  transform: translateY(0%);
  transition: transform 1s ease-in-out, display 0s 1s, opacity 1s 0s;
}

.choosemeal-recommend-title {
  color: #131313;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.choosemeal-meals {
  display: flex;
  flex-direction: column;

  gap: 16px;
  flex-shrink: 0;
}

.choosemeal-single-meal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.choosemeal-single-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.choosemeal-second-part-meal-info p {
  margin: 0;
}

.choosemeal-meal-add-button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}

.choosemeal-meal-price {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.choosemeal-second-part-meal-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.choosemeal-meal-img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.choosemeal-first-part-meal-info {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.choosemeal-meal-title-and-description p {
  margin: 0;
}

.choosemeal-meal-title-and-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.choosemeal-meal-title {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.choosemeal-meal-description {
  color: #131313;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 108.333% */
  letter-spacing: 0.5px;
  opacity: 0.5;
}

.choosemeal-recommend-title {
  color: #131313;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.choosemeal-meals {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 16px;
  flex-shrink: 0;
}

.choosemeal-single-meal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.choosemeal-single-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.choosemeal-second-part-meal-info p {
  margin: 0;
}

.choosemeal-meal-add-button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}

.choosemeal-meal-price {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.choosemeal-second-part-meal-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.choosemeal-meal-img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.choosemeal-first-part-meal-info {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.choosemeal-meal-title-and-description p {
  margin: 0;
}

.choosemeal-meal-title-and-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.choosemeal-meal-title {
  color: #131313;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.choosemeal-meal-description {
  color: #131313;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 108.333% */
  letter-spacing: 0.5px;
  opacity: 0.5;
}
.choosemeal-shoppingbag {
  padding: 5px;
}

.choosmeal-computer-button {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .topbar-choosemeal-home {
    padding: 1rem;
  }
}

@media screen and (max-height: 620px) and (max-width: 1050px) {
  .dropdown {
    opacity: 0;
    visibility: hidden;
    scale: 0.85;
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 189px;
    border-radius: 4px;
    background: white;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  }
  .dropdown1 {
    opacity: 0;
    visibility: hidden;
    scale: 0.85;
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 189px;
    border-radius: 4px;
    background: white;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width: 1050px) {
  .choosemeal-categories-menu {
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Prikazujte po tri ikonice u svakoj koloni */
    gap: 1rem; /* Dodajte razmak između kolona */
    align-items: center; /* Centriraj ikonice */
  }

  .choosemeal-categories-single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .choosemeal-categories-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .choosemeal-title-menu {
    display: none;
    color: transparent;
  }

  .menu-visible {
    scale: 0.9;
    position: absolute;
    width: 225px;
    height: 544px;
    padding: 15px;
    z-index: 3;
    background-color: #ffffff;
    margin-left: 3rem;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    margin-top: 20vh;
  }

  .menu-hidden {
    scale: 0.9;
    position: block;
    width: 225px;
    height: 544px;
    z-index: -3;
    padding: 15px;
    margin-top: 20vh;
    background-color: #ffffff;
    margin-left: 3rem;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
  }

  .overlay-visible {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  .choosemeal-categories-icon {
    width: 23px;
    height: 23px;
    justify-content: center;
    align-items: center;
  }

  .choosemeal-categories-single {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 225px;
    align-items: center;
    gap: 16px;
    height: 3rem;
    padding-left: 2px;
  }

  .choosemeal-menu-apply-button {
    width: 100%;
    height: 32px;
    display: flex;
    border-radius: 4px;
    background: transparent;
    padding: 15px 0;
  }

  .choosemeal-menu-apply {
    width: 193px;
    height: 32px;
    flex-shrink: 0;
    color: #fff;

    font-family: Koulen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }

  .menu-hidden {
    opacity: 0;
    transition: transform 0.3s ease-in-out, display 0s 0.3s, opacity 0.3s 0s;
    transform: none;
  }

  .menu-visible {
    opacity: 1;
    transform: none;
    transition: transform 0.3s ease-in-out, display 0s 0.3s, opacity 0.3s 0s;
  }
}

@media screen and (max-width: 360px) {
  .choosemeal-menu-apply-button {
    width: 100%;
    height: 3rem;
    display: flex;
    border-radius: 4px;
    background: transparent;
    padding: 15px 0;
    margin-top: 35px;
  }

  .choosemeal-menu-apply {
    width: 226px;
    height: 3rem;
  }

  .search-input {
    width: 250px;
  }

  .search-choosemeal {
    display: flex;
    justify-content: center;
  }

  .search-icon-choose-meal {
    margin-left: 210px;
    margin-top: 5px;
  }
}

.topbar-computer-choosemeal-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 960px) {
}

.phone-only {
  display: none; /* Početno skrivanje na svim ekranima */
}

@media (max-width: 768px) {
  .phone-only {
    display: block; /* Prikazivanje na ekranima sa širinom manjom od 768px (telefoni) */
  }
}


.computer-only {
  display: none; /* Početno skrivanje na svim ekranima */
}
@media (max-width: 656px) {
  .search-choosemeal{
    width: 200px;
  }
  .search-icon-choose-meal{
    margin-left: 160px;
  }
  .topbar-computer-other-part{
    gap: 14px;
  }
  
}
@media (min-width: 480px) {
  .computer-only {
    display: block; /* Prikazivanje na ekranima sa širinom manjom od 768px (telefoni) */
  }
  .img-layout-orderMeal {
    max-width: 390px;
    height: 324px;
  }
  .computer-only-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    
  }
  .tmp-orderMeal{
    margin: 20px 0px;
  }
  .texts-orderMeal {
    display: flex;
    width: 390px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #131313;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.5px; /* 142.308% */
    letter-spacing: 0.5px;
    
  }
  .addbutton-orderMeal{
    width: 390px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 4px;
  }
  .counter-orderMeal {
    justify-content: left;
    margin: 0;
    margin-top: -50px;
    padding: 15px 0;
  }
  .counter-button-orderMeal {
    margin: 0;
  }
  .counter-orderMeal h2 {
    margin: 24px;
  }
  .button-wrapper-orderMeal{
    width: 390px;
  }
  .disabled-btn{
    width: 390px;
  }
}
@media (max-width: 320px) {

.texts-orderMeal,.description-orderMeal{
  max-width: 250px;
}

}

@media  screen and (max-height:850px) {
  .img-layout-orderMeal{
    max-height: 250px;
    max-width: auto ;

  }
  .title-orderMeal{
    font-size: 25px;
    padding: 5px 0px 0px 0px;
  }
  .texts-orderMeal{
    gap: 5px;
  }
  .counter-orderMeal{
    padding: 0;
  }

}
@media  screen and (max-height:740px) {

  .topbar-computer-choosemeal-home{
    padding: 1rem;
  }
  .tmp-orderMeal {
    margin-top: 1px;
  }
  .title-orderMeal{
    font-size: 22px;
    padding: 2px 0px 0px 0px;
  }
  .texts-orderMeal{
    gap: 2px;
    padding: 2px;
  }


  .description-orderMeal {
    line-height: 18px;
    width: 374px;
    height: auto;
  }
  .tmp-orderMeal{
    margin-top: 35px;
  }


}
@media screen and (max-width:400px) {
  .texts-orderMeal{
    max-width: 300px;
    text-align: left;
  }
}
@media screen and (max-width:350px) {
  .texts-orderMeal{
    max-width: 250px;
    text-align: left;
  }
}
@media (max-height: 628px) {
  .phone-only {
    display: block; /* Prikazivanje na ekranima sa širinom manjom od 768px (telefoni) */
  }
  .computer-only {
    display: none; /* Početno skrivanje na svim ekranima */
  }
  .img-layout-orderMeal{
    max-width: 100vw;
  }
  .computer-only-content{
    padding: 0;
  }
  .counter-orderMeal{
    justify-content: center;
    margin: 5px;
    padding: 0px;
  }
  .tmp-orderMeal{
    margin: 0;
  }

  .disabled-btn{
    width: 200px;
  }
}