/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply styles to the main container */
  .main-orderMeal {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  /* Style the back button */
  .back-button-orderMeal {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
  }
  
  /* Style the pizza image */
  .img-layout-orderMeal {
    height: auto;
    max-height: 400px;
    background-image: url(../../images/PizzaCapricciosa.png);
    background-color: lightgray;
    background-position: 0px -0.625px;
    background-size: 100% 100.154%;
    background-repeat: no-repeat;
  }
  
  /* Style the text section */
  .texts-orderMeal {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 390px;
  }
  
  /* Style the meal information container */
  .about-orderMeal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  /* Style the meal title */
  .title-orderMeal {
    width: 100%;
    color: #131313;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 16px;
  }
  
  /* Style the meal price */
  .price-orderMeal {
    color: #131313;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
  }
  
  /* Style the meal description */
  .description-orderMeal {
    width: 100%;
    color: #131313;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  /* Style the counter section */
  .counter-orderMeal {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 64px;
  }
  
  /* Style the "ADD TO ORDER" button */
  .addbutton-orderMeal {
    width: 330px;
    height: 56px;
    border-radius: 4px;
    background: #bd2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  /* Style the text within the "ADD TO ORDER" button */
  .addbutton-text-orderMeal {
    color: #fff;
    font-family: "Koulen";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
  .button-wrapper-orderMeal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .tmp-orderMeal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
  }
  
  .counter-button-orderMeal {
    margin: 0 32px;
    width: 48px;
  }
  
  @media screen and (max-height: 800px) {
    .tmp-orderMeal {
      margin-top: 16px;
    }
  
    .counter-orderMeal {
      margin-bottom: 32px;
    }
  }
  
  @media screen and (max-width: 380px) {
      .addbutton-orderMeal {
          width: 270px;
      }
  }
  @media screen and (max-height: 680px) {
      .tmp-orderMeal {
        margin-top: 1px;
      }
    
      .counter-orderMeal {
        margin-bottom: 32px;
      }
      .tmp-orderMeal{
          scale: 0.8;
      }
   .texts-orderMeal{
      padding: 0px 16px;
   }
   .description-orderMeal {
      line-height: 18px;
  }
  }